appdirs
asttokens
astunparse
calmjs.parse
cmd2
comm
contourpy
cycler
debugpy
decorator
dm-tree
exceptiongroup
executing
filelock
fonttools
fsspec
hls4ml
imageio
importlib_resources
ipykernel
ipython
jax
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
kt-legacy
lazy_loader
libclang
matplotlib
matplotlib-inline
mkl-service
ml-dtypes
mpmath
nest-asyncio
networkx
onnx
pandas
parse
parso
pexpect
pillow
platformdirs
ply
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1-modules
pyDigitalWaveTools
Pygments
pyparser
pyparsing
pyperclip
python-dateutil
pytz
PyYAML
pyzmq
QKeras
requests-oauthlib
scikit-image
scikit-learn
scipy
seaborn
stack-data
sympy
tabulate
tensorflow
tensorflow-model-optimization
threadpoolctl
tifffile
torch
torchvision
tornado
tqdm
traitlets
tzdata
wcwidth